.appBar {
    backgroundColor: 'transparent';
    boxShadow: 'none';
}

.toolbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    z-index: 1000;
    position: absolute;
    background-color: transparent;
    top: 0;
}

.navItems {
    display: flex;
    gap: 16px;
    margin-left: 40%;
    color: white;
}

.navButton {
    text-transform: none;
    color: white;
}

.loginButton {
    color: black;
    text-transform: none;
    border: 1px solid black;
}