.appBar {
    backgroundColor:  #0F1139;
    boxShadow: 'none';
}

.toolbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    z-index: 1000;
    position: absolute;
    background-color:  #0F1139;
    top: 0;
}

.navItems {
    display: flex;
    gap: 16px;
    margin-left: 75%;
    min-width: 200px;
    color: white;
    flex-grow: 1;
    flex-shrink: 0;

}

.navButton {
    text-transform: none;
    color: white;

}

.loginButton {
    color: black;
    text-transform: none;
    border: 1px solid black;
    min-width: 200px;
}